<h1>Simulate an Android Space Balloon Phone</h1>
<button id="generate_data">Generate data</button> <br />

</br />
<button id="stop_data">Stop Data</button>
<div class="table_container">
	<table id="fake_data">
	<tr><td>Run ID</td><td>Latitude</td><td>Longitude</td><td>Altitude</td><td>Speed</td></tr>
	</table>
</div>