<h1 class="center"><%= title %></h1><br>
<div class="center" id="map_canvas"></div>
<br />
<div id="controls" class="center">
	<button id="center_map">Find Balloon</button>
</div>
<div class="table_container center">
	<table id="data_table">
	<tr id="title_row"><td>Run ID</td><td>Latitude</td><td>Longitude</td><td>Altitude</td><td>Speed</td></tr>
	</table>

</div>
<br /> <br />